.sign-up-container{
    position: relative;
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 20px;
    padding: 20px 20px;
    border-radius: 1em;
    box-shadow:
        -5px -5px 5px rgba(255, 255, 255, .5),
        5px 5px 5px rgb(163,177,198,0.6);
}

.sign-up-title{
    font-family: roboto;
    font-size: 1.5em;
    color: #A3B1C6;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .1) ;
}

.form-input{
    width: 80%;
    margin: 15px 0;
    background-color:#E0E5EC;
    color: #A3B1C6;
    border: none;
    font-size: 1.3em;
    border-radius: 10px;
    outline: none;
    padding: 15px 10px;
    box-shadow:
    -5px -5px 8px rgba(255, 255, 255, .5),
    5px 5px 8px rgb(163,177,198,0.6);
    transition: .2s ease-in-out;
}
.form-input:focus{
    transform: scale(1.1);
}

.form-input::placeholder{
    color: #A3B1C6;
}

.btn-enabled{
    margin: 20px auto;
    font-family: roboto;
    font-size: 1.05em;
    background-color: #E0E5EC;
    color: #A3B1C6;
    width: 50%;
    height: 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow:
    -5px -5px 8px rgba(255, 255, 255, .5),
    5px 5px 8px rgb(163,177,198,0.6);
    transition: .2s ease-in-out;
}

.btn-enabled:hover{
    transform: scale(1.1);
}

.btn-disabled{
    margin: 20px auto;
    font-family: roboto;
    font-size: 1.05em;
    background-color: #E0E5EC;
    color: #A3B1C6;
    width: 50%;
    height: 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow:
    -5px -5px 8px rgba(255, 255, 255, .5),
    5px 5px 8px rgb(163,177,198,0.6);
}

.btn-disabled:hover{
    transform: scale(1);
}
